body {
    height: 100%;

}


#title{
    text-align: center;
    font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 14px;
}

.btn{
    background: #1E90FF;
} .btn:focus{
    background: red;
}
